.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.footer__authors {
  display: flex;
  text-align: center;
}

.footer__year {
  min-width: 55px;
}

.footer__rs-logo {
  width: 100px;
  height: 30px;
}

.footer__author {
  margin: 0 10px;
  transition: all .3s;
}

.footer__author:hover {
  color: var(--light-blue-color);
}

@media screen and (max-width: 490px) {
  .footer__authors {
    flex-direction: column;
  }
  .footer__author {
    margin: 1px 10px;
  }

  .footer-wrapper {
    font-size: 14px;
  }

  .footer__rs-logo {
    width: 70px;
    height: 30px;
  }
}
