.logo {
  padding: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header {
  min-height: 66px;
  /* position: fixed;
  width: 100%;
  z-index: 9000; */
}

.logo-img {
  margin-right: 10px;
  width: max(min(46px, 2vw), 24px);
  z-index: 1;
}

.logo-title {
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  font-size: max(min(18px, 2vw), 12px);
  letter-spacing: 3px;
  transition: all .3s;
}

.logo {
  transition: all 0.6 ease-out;
  cursor: pointer;
}

.logo-title .header__underline {
  display: block;
  width: 0px;
  height: 2px;
  background-color: white;
  transition: .6s;
}

.logo-title:hover .header__underline {
  width: 100%;
  transition: 0.6s ease-out;
}

.logo-title:hover {
  color: var(--light-blue-color);
}

.nav {
  display: flex;
  align-items: center;
  height: 66px;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  height: 100%;
}

.nav-li {
  height: 100%;
}

.nav-li:last-child {
  position: relative;
  display: flex;
  justify-content: center;
}

.nav-li span {
  position: absolute;
  bottom: 12px;
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: max(min(18px, 2vw), 14px);
  font-weight: 500;
  letter-spacing: 1px;
  height: 100%;
  transition: all .25s;
}

.home-img {
  height: 20px;
  width: 20px;
  z-index: 1;
}

.nav-item:hover {
  /* background-color: black;
  opacity: 0.2; */
  background-color: rgba(214, 214, 214, 0.5);
}

/* .header {
  position: sticky;
  top: 0;
} */
.logo:active,
.nav-item:active {
  background-color: rgba(214, 214, 214, 0.3);

}

.burger-menu,
.nav-aside {
  display: none;
}

.hidden_desc {
  left: 0;
  top: 0;
  margin: 0; 
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  display: block;
  position: fixed;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
}
@media screen and (max-width: 900px) {

  .nav-wrapper {
    align-items: flex-start;
  }

  .nav {
    display: none;
  }

  .nav__mozgotren-big,
  .nav__title-aside {
    display: block;
  }

  .burger-menu {
    display: flex;
    z-index: 1200;
  }

  #nav-icon {
    width: 30px;
    height: 30px;
    position: relative;
    margin: 15px;
    margin-bottom: 0;
    margin-top: 10px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}
#nav-icon span {
    display: block;
    position: absolute;
    height: 3.3px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
#nav-icon span:nth-child(1) {
    top: 0px;
}
#nav-icon span:nth-child(2) {
    top: 10px;
}
#nav-icon span:nth-child(3) {
    top: 20px;
}
#nav-icon.open span:nth-child(1) {
    top: 10px;
    transform: rotate(135deg);
}
#nav-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}
#nav-icon.open span:nth-child(3) {
    top: 10px;
    transform: rotate(-135deg);
}
  .nav-aside {
    display: flex;
    flex-direction: column;
    width: 40vw;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    z-index: 1000;
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    margin: 0;
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #252525;
    z-index: 1100;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: 1s;
  }

  .nav__title-aside .header__underline2 {
    display: block;
    width: 0px;
    height: 2px;
    background-color: white;
    transition: .6s;
  }

  .nav__title-aside:hover .header__underline2 {
    width: 100%;
    transition: 0.6s ease-out;
  }

  .active-burger {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  .hidden {
    left: 0;
    top: 0;
    margin: 0; 
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    display: block;
    position: fixed;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
  }

  .hidden1 {
    display: none;
  }

  .nav__aside-logo {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid grey;
    margin: 0 1rem;
    margin-top: 15px;
    padding-bottom: 25px;
  }

  .nav__mozgotren-big {
    margin: auto;
    width: 120px;
    height: 120px;
    background-size: 100%;
    background-image: url("../../img/logo_aside.png");
  }

  .nav__title-aside {
    width: 60%;
    margin: auto;
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    font-weight: 500;
    text-align: center;
    color: inherit;
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  .nav-ul-aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
    height: 100%;
    width: 100%;
  }

  .nav-li-aside {
    width: 100%;
    height: 48px;
    line-height: 48px;
    /* padding: 0 32px; */

  }

  .nav-item-aside {
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: max(min(18px, 2vw), 14px);
    font-weight: 500;
    letter-spacing: 1px;
    height: 100%;
    transition: all .25s;
    border-bottom: 1px solid grey;
    margin: 0 1rem;
  }

}

@media screen and (max-width: 1000px) {

.nav-item {
  padding: 0 10px;
}

}

@media screen and (max-width: 900px) {
  .nav-li-aside:last-child {
    height: 48px;
    position: relative;
    display: flex;
    margin-left: 1rem;
  }

  .nav-li-aside span {
    position: absolute;
    top: 16px;
    left: 10px;
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .header {
    padding-top: 10px;
  }
}


@media screen and (max-width: 630px) {
  .logo {
    padding-right: 5px;
    padding-left: 5px;
  }

  .nav-item {
    padding: 0 4px;
  }
}

@media screen and (max-width: 400px) {

  .nav-ul {
    flex-wrap: wrap;
    height: auto;
  }
  
  .nav-item {
    padding: 4px;
  }
  
  .nav-aside {
    width: 270px;
  }
  
  .nav__title-aside {
   font-size: 1.2rem;
  }

}