.profile-title-wrapper {
  width: 100%;
  min-height: calc(100vh - 66px - 54px);
  background-color: #eee;
  padding: 10px;
  margin: 0;
  border: none;
}

.profile-container {
  margin: 10px 30px 10px 30px;
}

.profile-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid var(--gray-color);
  border: thin solid rgba(0, 0, 0, .12);
}

.profile-info__buttons {
  display: flex;
  flex-direction: column;
}

.profile-info__buttons .svg-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
  padding: 0 10px
}

.profile-info__buttons .fa::before {
  color: white;
}


.profile-info-form-container {
  border-bottom: 1px solid var(--gray-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #fff;
  margin: 10px 30px;
  padding: 20px 30px;
  overflow: hidden;
  border: thin solid rgba(0, 0, 0, .12);
}

.profile-image {
  width: 110px;
  height: 110px;
}

.profile-image i {
  width: 100%;
}

.profile-image i::before {
  font-size: 7em;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.profile-title {
  text-transform: capitalize;
}

.vertical-line {
  border: none;
  border-left: 1px solid black;
  height: 100px;
  width: 1px;
}

.button-profile {
  background-color: #01579b;
  border-color: #01579b;
  color: #fff;
  height: 36px;
  width: 150px;
  padding: 0 16px;
  border-radius: 6px;
  transition: all 0.6s;
  cursor: pointer;
}

.button-profile:hover {
  opacity: 0.8;
}

.button-profile:active {
  opacity: 0.6;
}

.button-profile-toolbar {
  background-color: transparent;
  border: none;
  color: #999999;
  height: 100%;
  width: 128px;
  padding: 0 16px;

}

.button-profile-toolbar:hover {
  color: #01579b;
  opacity: 0.8;
  background-color: #01589b13;
}

.button-profile-toolbar:active {
  opacity: 0.6;
}

.active {
  color: #01579b;
  border-bottom: solid 2px #01579b;
}

.toolbar {
  width: 100%;
  height: 65px;
  background-color: #ddd;
  display: flex;
  flex-direction: row;
  border: none;
}

.profile-text {
  font-weight: 400;
  color: #999;
  line-height: 10px;
  margin: 10px 0;
  font-size: 1.1em;
}

.input-box {
  margin: 20px 200px;
  position: relative;
  display: flex;
  flex-direction: column;
}

input,
select {
  width: 100%;
  color: #999;
  height: 40px;
  z-index: 2;
  background: transparent;
  border: 1px solid #ddd;
  padding: 0 5px;
  outline: none;
  border-radius: 3px;

}

.dark-grey h2 {
  text-transform: capitalize;
  font-weight: 900;
}

label {
  font-style: inherit;
  position: absolute;
  left: 10px;
  color: #999;
  top: -7px;
  background-color: white;
  padding: 0 3px;
  display: inline-block;
  z-index: 3;
}

input:focus,
select:focus {
  color: #01579b;
  border-color: #01579b;
}

button:disabled,
button[disabled] {
  background-color: #cccccc;
  color: #666666;
  border: none;
}

option {
  color: #01579b;
  background-color: #01589b13;
}

.birth-title {
  margin: 0 200px;
}

.birth-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.birth-container .input-box {
  margin-right: 10px;
  margin-left: 10px;
}

.birth-container select {
  width: 20vw;
}

.input-file {
  position: relative;
  display: inline-block;
}

.input-file-text,
.input-file-text-1 {
  line-height: 40px;
  text-align: left;
  height: 40px;
  display: block;
  float: left;
  box-sizing: border-box;
  width: 60vw;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.input-file-text-1 {
  margin-top: -40px;
  padding-left: 10px;
}

.input-file input[type=file] {
  position: absolute;
  z-index: -1;

  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.input-logo {
  margin-bottom: 20px;
}

/* Focus */
.input-file input[type=file]:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.profile-text-c {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.v {
  margin-bottom: 10px;
}

.checkbox-ios {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin-right: 10px;
  position: relative;
  vertical-align: middle;
  font-size: 14px;
  user-select: none;
}

.checkbox-ios .checkbox-ios-switch {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 56px;
  height: 28px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 25%/50%;
  vertical-align: top;
  background: #eee;
  transition: .2s;
}

.checkbox-ios .checkbox-ios-switch:before {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  transition: .15s;
}

.checkbox-ios input[type=checkbox] {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox-ios input[type=checkbox]:not(:disabled):active+.checkbox-ios-switch:before {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
}

.checkbox-ios input[type=checkbox]:checked+.checkbox-ios-switch {
  background: #01579b;
}

.checkbox-ios input[type=checkbox]:checked+.checkbox-ios-switch:before {
  transform: translateX(28px);
}

/* Hover */
.checkbox-ios input[type="checkbox"]:not(:disabled)+.checkbox-ios-switch {
  cursor: pointer;
  border-color: rgba(0, 0, 0, .3);
}


.checkbox-ios input[type=checkbox]:disabled+.checkbox-ios-switch {
  filter: grayscale(70%);
  border-color: rgba(0, 0, 0, .1);
  background: #eee;
}

.checkbox-ios input[type=checkbox]:disabled+.checkbox-ios-switch:before {
  background: #eee;
}

/* Focus */
.checkbox-ios.focused .checkbox-ios-switch:before {
  box-shadow: inset 0px 0px 4px #01589b13;
}

.profile-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.profile-form form {
  width: 100%;
}

.end {
  margin-right: 200px;
  align-self: end;
}

.hover:after {
  content: attr(data-title);
  display: none;
  position: absolute;
  bottom: -60%;
  left: 0px;
  background-color: #fff;
  color: #999999;
  padding: 5px;
  text-align: center;
  font-size: 0.7rem;
}

/* Добавляем свойство, чтобы при наведении на элемент плашка с подсказкой появилась */
.hover:hover:after {
  display: block;
}

.svg {
  display: flex;
  width: 30px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.svg>.fa::before {
  font-size: 1.8em;
}

.svg-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.sound-container,
.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.pen {
  background-image: url("../assets/img/svg/pen.svg");
}

.earth {
  background-image: url("../assets/img/svg/earth.svg");
}

.bag {
  background-image: url("../assets/img/svg/briefcase.svg");
}

.bag_blue {
  background-image: url("../assets/img/svg/briefcase_blue.svg");
}

.null {
  background-image: url("../assets/img/null.jpg");
}

.paperclip {
  background-image: url("../assets/img/svg/paperclip-vertical.svg");
}

.date {
  background-image: url("../assets/img/svg/calendar-month.svg");
}

.birth {
  background-image: url("../assets/img/svg/birthday-cake-filled.svg");
}

.star {
  background-image: url("../assets/img/svg/star.svg");
}

.like {
  background-image: url("../assets/img/svg/heart.svg");
}

.letter {
  background-image: url("../assets/img/svg/letter.svg");
}

.lift {
  background-image: url("../assets/img/svg/lift.svg");
}

.exit {
  background-image: url("../assets/img/svg/exit.svg");
}

.photo {
  justify-self: flex-end;
  align-self: flex-end;
  margin-top: -30px;
  background-image: url("../assets/img/svg/camera.svg");
}

.dark-grey {
  color: #000000;
}

.dark-grey h5 {
  color: #999999;
}

.row {
  margin: 15px;
}

.hidden3,
.hidden4 {
  display: none;
}

@media screen and (max-width: 1450px) {

  .end {
    margin-right: 200px;
  }

  .input-box,
  .birth-title {
    margin-left: 100px;
    margin-right: 100px;
  }

  .end {
    margin-right: 100px;
  }

}

@media screen and (max-width: 900px) {

  .profile-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .profile-info {
    align-items: center;
    margin: 10px 0;
  }

  .profile-text {
    font-size: 1em;
  }

  .vertical-line {
    width: 90%;
    height: 1px;
    border-left: none;
    border-bottom: 1px solid #000;
  }

  .profile-info-form-container.page1 {
    align-items: center;
  }

  .profile-info-form-container.page2 {
    padding: 10px 10px;
  }

  .card-info {
    margin: 10px 0;
  }

  .card-info>.svg {
    margin-right: 10px;
  }

  h2.dark-grey {
    align-self: flex-start;
  }

  h4.dark-grey {
    margin-top: 10px;
    width: 100%;
    color: rgba(0, 0, 0, .8);
  }

  .birth-container>.input-box {
    display: flex;
    justify-content: center;
  }

  .input-box,
  .birth-title {
    margin-left: 30px;
    margin-right: 30px;
    width: 90%;
  }

  .end {
    margin-right: 50px;
  }

  .svg-container:last-child {
    margin: 10px 0;
  }
}

@media screen and (max-width: 600px) {

  .end {
    align-self: center;
  }

  .input-logo {
    margin-bottom: 0;
  }

  .button-profile.end {
    align-self: center;
    margin: 0 0 10px 0;
  }
}

@media screen and (max-width: 500px) {

  .profile-info-form-container {
    align-items: center;
    margin: 0 10px;
  }

  .profile-container {
    margin: 10px 10px;
  }

  .profile-text-c {
    flex-direction: column;
    margin: 5px 0;
  }

  .profile-text {
    margin: 5px 0;
  }

  .input-box {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 400px) {
  .profile-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1em;
  }

  .svg {
    margin: 5px 0;
  }

  .input-logo {
    margin-bottom: 0;
  }
}