.container__rating_main {
  min-height: calc(100vh - 66px - 54px);
  
}
.rating-filter {
  width: 100%;
  height: 40px;
  color: rgb(254, 254, 254);
  caret-color: rgb(254, 254, 254);
  background-color: rgb(54, 54, 54);
}

.categories-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  line-height: 40px;
  vertical-align: middle;
}
.rating-card {
  margin: 0.5%;
  display: block;
  width: 23.5%;
  min-width: 300px;
  height: 300px;
  border: 1px #eeeeee thin;
  color: #000000de;
  outline: none;
  margin-left: 0.25%;
  margin-right: 0.25%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  transition-property: box-shadow, opacity;
  overflow-wrap: break-word;
  white-space: normal;
  transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
  will-change: box-shadow;
  box-shadow: 0 3px 1px -2px #00000033, 0 2px 2px 0 #00000024, 0 1px 5px 0 #0000001f;
}

.rating-card:hover {
  box-shadow: 0 1px 5px 3px #00000033;
}

.rating-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 0.5%;
  margin: auto;
  width: 99%;
  max-width: 1280px;
}
.filter-item-rating {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  transition:  .3s cubic-bezier(.25,.8,.5,1);
  border-top: none;
}
.filter-item-rating:hover, .filter-item-rating:active {
  background-color: rgba(214, 214, 214, 0.5);
}
.loupe, .discette, .block, .king, .prof, .trio {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-size: cover;
  background-position: center center;
}
.king {
  background-image: url("../assets/img/svg/cubes.svg");
}
.discette {
  background-image: url("../assets/img/svg/diskette.svg");
}
.loupe {
  background-image: url("../assets/img/svg/loupe.svg");
}
.prof {
  background-image: url("../assets/img/svg/student-cap.svg");
}
.block {
background-image: url("../assets/img/svg/block.svg");
}
.king {
  background-image: url("../assets/img/svg/cup-trophy.svg");
}

.trio {
  background-image: url("../assets/img/svg/shareoutline.svg");
}

.card__title_rating {
  font-size: 1.1rem;
}

.container__table {
  width: 100%;
  font-size: max(min(1rem, 5vw), 0.8rem);
  padding: 20px;
}

.container__table_row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.container__table_col:nth-child(1) {
  width: 20%;
}
.container__table_col:nth-child(2) {
  width: 60%;
}
.container__table_col:nth-child(3) {
  width: 25%;
}

.wrapper_butt_rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 8px;
  height: 44px;
  border: 1px #eee solid;
  border-radius: 0px;
}
.button_rating, .button_rating_show {
  height: 100%;
  border: none;
  padding: 0 16px;
  border-radius: 0px;
  transition: all .6s;
  cursor: pointer;
}
.button_rating {
  background-color: #01579b;
  color: #fff;
}
.button_rating_show {
  color: #01579b;
  background-color: transparent;
}
.button_rating:hover, .button_rating:active {
  opacity: 0.6;
}
.button_rating_show:hover, .button_rating_show:active {
  background-color: #b3d4fc49;
}
.card__rating_title {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background: rgb(231, 231, 231);
height: 65px;
}
.block-col {
  display: flex;
  flex-direction: column;
}
.card__rating_title p {
  font-size: 0.8rem;
}
.filter-item__black {
  display: block;
}

.rating__throphy_1, .rating__throphy_2, .rating__throphy_3 {
  width: 40px;
  height: 40px;
  margin: 10px;
  margin-bottom: 0;
  background-size: cover;
  background-position: center center;
}

.rating__throphy_1 {
  background-image: url("../assets/img/svg/trophy-1.svg");
}
.rating__throphy_2 {
  background-image: url("../assets/img/svg/trophy-2.svg");
}
.rating__throphy_3 {
  background-image: url("../assets/img/svg/trophy-3.svg");
}

.table-ratings {
  margin: 40px auto;
  width: 70%;
  min-width: 300px;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #c2baba;
  font-size: max(min(1.2rem, 2vw), 0.7rem);
  background-color: #f7f7f7;
  color: #302d2dde;
  transition: all .3s;
}

.table-ratings tbody tr:hover {
  background-color: #e0dede
}

.table-ratings__user {
  text-align: start;
}

.table-ratings tr {
  height: 40px;
  border: 1px solid #c2baba;
  transition: all .3s;
}

.table-ratings__place {
  width: 10%;
}

.table-ratings__time,
.table-ratings__score {
  width: 20%;
}

.table-ratings__popup {
  min-width: 220px;
  max-width: 400px;
  width: 72vw;
  font-size: max(min(1rem, 2vw), 0.7rem);
}

.popap.ratings-popup {
  margin-left: 10vw;
  padding: 10px;
  max-width: 420px;
  width: 80vw;
}

.ratings-popup-container {
  align-items: center;
}


@media screen and (max-width: 1330px) {

  .rating-card {
    width: 32%;
  }

}

@media screen and (max-width: 992px) {

  .rating-card {
    width: 48.5%;
  }

}

@media screen and (max-width: 700px) {

  .rating-card {
    width: 97%;
  }
  .filter-item__black {
    display: none;
  }

}
@media screen and (max-width: 640px) {
  
  .rating-card {
    width: 100%;
    margin: 5px;
  }
}
