.trenagors-main {
  margin: 0 5px;
  min-height: calc(100vh - 66px - 54px);
}

.trenagors-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trenagors-title {
  padding: 10px;
  font-size: max(min(2rem, 5vw), 1rem);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500;
}

.trenagors-title-underline {
  width: max(min(180px, 30vw), 60px);
}

.trenagors {
  margin-top: 20px;
  display: flex;
  width: 100%;
}

.filter {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  min-width: 250px;
}

.filter__title {
  padding: 10px;
}

.important-filter-content {
  font-weight: 600;
}

.filter-item {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--border-color);
  cursor: pointer;
}

.filter-item__count-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(135deg, #2b3a65 0%, #314377 34%, #3e75a7 75%);
  /* background: linear-gradient(135deg, #000428, #0074da); */
  box-shadow: 2px 2px 12px #0000004d;
  color: white;
  font-size: 12px;
  transition: all 0.5s ease-out;
}

.filter-item:hover >
.filter-item__count-img {
  background: white;
  background-color: var( --main-background-color);
  color: black;
  box-shadow: 2px 2px 12px #0000004d;
}

.filter-item:hover,
.filter-item-active {
  background-color: var( --main-background-color);
}

.trenagors-container {
  padding: 0 10px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

.game-wrapper {
  margin: 0 5px 5px 5px;
  width: 48%;
  min-width: 300px;
  height: 200px;
  background-color: var( --main-background-color);
}

.trenagors-card-game {
  padding: 0 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}

.trenagors-card-game > * {
  margin-bottom: 15px;
}

.card__img {
  width: 100%;
}

.card__img_block,
.card__title {
  cursor: pointer;
}

.card-image {
  width: 300px;
  height: 300px;
}
.wrapper_butt, wrapper_butt_desc {
  display: flex;
  flex-direction: row;
}
.button_trane {
  width: 171px;
  height: 41px;
  color: #ffffff;
  background: #000428;
  background: -webkit-linear-gradient(315deg, #000428, #0074da);
  background: linear-gradient(135deg, #000428, #0074da);
  border: 1px solid #0b0b0b;
  margin-top: 2rem;
  border-radius: 0px;
  box-shadow: 0 6px 5px 0 rgb(0 0 0 / 18%), 0 1px 9px 0 rgb(0 0 0 / 15%);
  transition: all 0.4s ease-out;
  display: inline-block;
  cursor: pointer;
  margin-right: 5px;
}
.button_details {
width: 121px;
height: 41px;
color: #000428;
background: #ffffff;
border: 1px solid #0b0b0b;
margin-top: 2rem;
border-radius: 0px;
box-shadow: 0 6px 5px 0 rgb(0 0 0 / 18%), 0 1px 9px 0 rgb(0 0 0 / 15%);
transition: all 0.4s ease-out;
display: inline-block;
cursor: pointer;
margin-right: 5px;
transform: translateY(0%);
}
.button_trane:hover, .button_trane:active, .button_details:hover, .button_details:active {
transform: translateY(-10%);
}
.button_trane:hover, .button_trane:active {
opacity: 0.7;
}
.filter__title {
  padding: 10px;
}
.card__img {
  width: 90%;
  height: auto;
  margin: auto;
}
.card__img1 {
 color: #ffffff;
 transform: translateY(-700%);
 margin: auto;
 margin-top: -100px;
 visibility: hidden;
 transition: all 1s
}
.card__img_block{
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  z-index: 10;
  overflow: hidden;
  transition: all 1s;
}

.card__img_block:hover .card__img1 {
  visibility: visible;
  transform: translateY(-50%);
}
.card__img_block:hover {
  background: #000428;
  background: -webkit-linear-gradient(315deg, #000428, #0074da);
  background: linear-gradient(135deg, #000428, #0074da);
  opacity: 0.7;
}
.card__title, .card__difficult, .card__check {
  margin-top: 10px;
  color: #252424c2;
}
.card__check, .card__difficult {
  font-size: 0.9rem;
  line-height: 1.5rem;
}
.card__difficult_block {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cubes {
  width: 18px;
  height: 18px;
  margin-top: 10px;
  margin-right: 10px;
  background-size: cover;
  background-position: center center;
  background-image: url('../assets/img/svg/cubes.svg');
}
.card__img1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog {
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center center;
  background-image: url('../assets/img/svg/comments.svg');
  margin: 0;
  z-index: 101;
}
.console {
    width: 45px;
    height: 45px;
    background-size: cover;
    background-position: center center;
    background-image: url('../assets/img/svg/games_console.svg');
    margin: 0;
    margin-bottom: 30px;
    z-index: 101;
}
.trenagors-title-underline_blue {
  width: 150px;
  height: 20px;
  margin-bottom: 40px;
  background-size: cover;
  background-position: center center;
  background-image: url('../assets/img/line-break-blue.svg');
}


@media screen and (max-width: 1060px) {

  .card__img_block:hover .card__img1 {
    transform: translateY(-40%);
  }

}

@media screen and (max-width: 980px) {

  .card__img_block:hover .card__img1 {
    transform: translateY(-30%);
  }

}

@media screen and (max-width: 900px) {

  .card__img_block:hover .card__img1 {
    transform: translateY(-13%);
  }

}

@media screen and (max-width: 800px) {

  .trenagors {
    flex-direction: column;
  }

  .trenagors-filter {
    font-size: 0.9rem;
  }

  .trenagors-container {
    margin: 10px 0 0 0;
    padding: 0;
  }
  .card__img_block:hover .card__img1 {
    transform: translateY(-30%);
  }
  
}

@media screen and (max-width: 650px) {

  .card__img_block:hover .card__img1 {
    transform: translateY(-20%);
  }

}

@media screen and (max-width: 600px) {

.trenagors-card-game {
  width: 90%;
}

.card__check, .card__difficult, .button_details, .button_trane, .trenagors-filter {
  font-size: 0.7rem;
}

.card__img_block:hover .card__img1 {
  transform: translateY(-60%);
}

.trenagors-container {
  justify-content: center;
}

  .card__title {
    margin: 0;
  }

  .card__img {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

}


@media screen and (max-width: 400px) {

  .card__img_block:hover .card__img1 {
    transform: translateY(-40%);
  }

}