.game-slozhenier {
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
}

.game-task {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  font-size:max(min(3rem, 8vw), 1.2rem);;
}

.game-answer-options {
  display: flex;
  justify-content: space-between;
}

.btn-answer {
  margin: 5px;
  width: 23%;
  max-width: 200px;
  height: 52px;
  font-size:  max(min(1.3rem, 5vw), 1rem);
  background-color: var(--blue-color);
  border-color: var(--blue-color);
  color: #ffffff;
  cursor: pointer;
}
