* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  cursor: crosshair;
  transition: 1s;
  overflow-x: hidden;
  font-size: 10px;
 }

:root {
  --border-color: #c9c9c9;
  --main-background-color: #ececec;
  --light-blue-color: #95abd4;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-background {
  background: linear-gradient(90deg, #2b3a65 0%, #314377 34%, #3e75a7 75%);
  color: white;
}

@media screen and (max-width: 900px) {

.body-background-shaddow {
display: none; 
}

}
.paragraph {
  margin: 1rem 0;
  color: #7b7b7b;
  font-size: 1.1rem;
}

/* .container {
  margin: 0 auto;
  max-width: 1280px;
} */

.row {
  display: flex;
  width: 100%;
}